.inventory-section {
    /* Tamaño de la sección */
    background-color: #f8f9fa;
    border-style: 5px;
}

.inventory-section .form-control{
    background-color: #e9ecef;
    border: none;
    border-radius: 3px;
}

.inventory-section .btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.inventory-section .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.inventory-section .btn:hover{
    /* Sombra del botón al pasar por él */
    opacity: 0.8;
}

.inventory-section label {
    /* tamaño de los botones */
    margin-bottom: 0.2rem; 
}

.inventory-section input[type="file"]{
    /* propiedades del input "file" */
    padding: 0.375rem 0.75rem;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.pieza-tarjeta:hover{
    cursor: pointer;
}