li {
    text-align: justify;
    list-style: none;
}
nav ul{
    padding-left: 0;
}
nav{
    padding: 1em;
}
li input{
    margin-right: 1rem;
}
#sidebarContainer{
    background-color: rgb(223, 223, 223);
    border-radius: 1em;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.364);
}
.filterCategoryList{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#sidebar li{
    font-size: 1.2em;
    /* text-align: center; */
    width: fit-content  ;
}
.categoryName{
    font-size: 2em;
    font-weight: 600;
}
input[type=number]{
    width: 60px;
    /* margin-right: 20px; */
}
@media (min-width: 576px) {
    #sidebarContainer {
        margin-left: 1rem;
    }
}
/* Hasta aquí llego el sidebar */